<ion-header>
  <ion-navbar>
    <ion-title>Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding> 

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 

    <ion-card *ngFor="let movie of moviesList" (click)="abrirDetalhes(movie)">
      <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.backdrop_path">
      <div class="card-title">{{movie.original_title}}</div>
      <div class="card-subtitle">{{movie.popularity}}</div>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
 



  <!--


    <ion-card *ngFor="let movie of moviesList">
        <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path">
        <ion-card-content>
          <ion-card-title>
              {{movie.original_title}}
            </ion-card-title>
          <p>
              {{movie.overview}}
          </p>
        </ion-card-content>
        <button ion-button block (click)="abrirDetalhes(movie)">Detalhes</button>
      </ion-card>
    -->
  <!--
  <ion-card *ngFor="let movie of moviesList">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path">
      </ion-avatar>
      <h2 class="feed_title">{{movie.original_title}}</h2>
      <h3>{{movie.title}}</h3>
      <p class="feed_date">{{movie.release_date}}</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.backdrop_path">

    <ion-card-content>
      <p>{{movie.overview}}</p>
    </ion-card-content>
    <button ion-button block (click)="abrirDetalhes(movie)">Detalhes</button>
  

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{movie.popularity}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="star-outline"></ion-icon>
          <div>{{movie.vote_count}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="star-half"></ion-icon>
          <div>{{movie.vote_average}}</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          {{movie.TimeAgo}}
        </ion-note>
      </ion-col>
    </ion-row>
    <button ion-button block (click)="abrirDetalhes(movie)">Detalhes</button>
  </ion-card>
-->
</ion-content>